/* В этом файле будут храниться все 
значения переменных в исходном 
состоянии, а так же их изменения в 
зависимости от ширины устройства */

:root {
  --font-family: "Press Start 2P", fantasy;
  --second-family: "Inter", sans-serif;
  --color-logo: #000;
  --header-background-color: #fff;
  --frame-color: #000;
  --card-title-weight: 700;
  --text-weight: 400;
  --watermark-shadow: #fff;
  --floopy-color: #fff;
  --button-text-color: #fff;
  --contour-color: #000;
  --heart-body-color: #ff0000;
  --page-background-color-reserve: #d3d3d3;
  --page-background-color: repeating-linear-gradient(
      to left,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to top,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
